.aboutus-color {
    background-color: #12372ad8;
    height: 467px;
}

.aboutus {
    padding-top: 9rem;
    p {
        color: #F1FFEA;
    }
    
}

.white-bg {
    background-color: white;
}

.testimonials-background {
    background-color: #12372ad8;
}

    
