button {
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--link-hover);
    color: #ffffff;
    transition: color .2s ease;
    font-weight: 600;
    &:hover {
        background-color:var(--button-hover);
        color: #ffffff;
    }

}

