.direct {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cf-label .req {
    margin-left: 4px;
    color: #A1241B;
    opacity: 0;
    transition: opacity .15s;
}
.cf-label .req.show { 
    opacity: 1; 
}





.error {
    color: #A1241B;
}


textarea {
    height: 150px;
    padding: 10px;
    border: 1px solid #12372A; 
    border-radius: 5px;
    outline: none;
    &:focus {
        outline: none;
        border: 1px solid black;
        display: block;
    }
    &:valid {
        outline: none;
        border: 1px solid #12372A;
        background-color: #ffffff;

        
    }
    &:user-invalid {
        outline: none;
        
        border: 1px solid #A1241B;
        background-color: #ffffff;
        display: block;
        &:focus {
            outline: none;
            border: 1px solid black;
            display: block;
        }
    }

    &::placeholder {
        color: #12372A;
    }

}
