.direct {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cf-label .req {
    margin-left: 4px;
    color: #d93025;
    opacity: 0;
    transition: opacity .15s;
}
.cf-label .req.show { opacity: 1; }



::placeholder {
    color: #f1C30C;
}

.error {
    color: #d93025;
}

input[required] {
    height: 58px;
    padding: 10px;
    border: 1px solid #F1C30C; 
    border-radius: 5px;
    outline: none;
    &:focus {
        outline: none;
        border: 1px solid black;
        display: block;
    }
    &:valid {
        outline: none;
        border: 1px solid #F1C30C;
        background-color: #ffffff;

        
    }
    &:user-invalid {
        outline: none;
        
        border: 1px solid #f10c0c;
        background-color: #ffffff;
        display: block;
        &:focus {
            outline: none;
            border: 1px solid black;
            display: block;
        }
    }

    

}

input {
    height: 58px;
    padding: 10px;
    border: 1px solid #F1C30C; 
    border-radius: 5px;
    outline: none;
}

input:focus {
    outline: none;
    border: 1px solid black;
    display: block;

}


