.git {
    padding-top: 80px;
}


.git-flex {
    display: flex;
    gap: 50px;
    
}

.git-right {
    border-radius: 7px;
    background-color: #FAF8EC;
    width: 666px;
    
}

.git-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1.5rem;
}

.direction {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.direction2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    

}
.direction3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.direction-big {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.git-box {
    display: flex;
    background-color: #C4C4C4;
    height: 367px;
    width: 664px;
}

::placeholder {
    color: #f1C30C;
}

#text {
    height: 58px;
    padding: 10px;
}

#email2 {
    height: 58px;
    padding: 10px;

}
#phonenumber {
    height: 58px;
    padding: 10px;

}
#subject {
    height: 58px;
    padding: 10px;

}

#comment {
    height: 150px;
    padding: 10px;
}

.pop-up {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
    align-items: center;
    gap: 30px;
    h2 {
        color: #12372A;
    }
    .submitted-btn {
        width: 100px;
    }
}

.git-btn {
    max-width: 156px;
}

.error {
  color: #d93025;
}

input, textarea {
    border: 1px solid #F1C30C; 
    border-radius: 5px;
    outline: none;
    &:focus {
        outline: none;
        border: 1px solid black;
        display: block;
    }
    &:valid {
        outline: none;
        border: 1px solid #F1C30C;
        background-color: #ffffff;

        
    }
    &:user-invalid {
        outline: none;
        
        border: 1px solid #f10c0c;
        background-color: #ffffff;
        display: block;
        &:focus {
            outline: none;
            border: 1px solid black;
            display: block;
        }
    }

    

}












