.top-bar {
   background-color: #12372A;
   height: 47px;

}

.header-green {
    display: flex;
    justify-content: space-between;
    color: white;
}



.header-left {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-top: 14px;
    

}

.header-right {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 9px;
}

.header-lower {
    margin-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    

    
}

.header-nav a {
    text-decoration: none;
    color: var(--link);
    font-size: 18px;
    font-weight: 600;
    transition: color .2s ease;

    &:hover {
        color: var(--link-hover);
    }
}

.nav-link.active {
  color: #f1c30c;      
  
}