.hero {
    background-color: #FAF8EC;  /* har valt denna bakgrunden pga att mina buttons annars hade blivit i olika färger och det såg inte snyggt ut */ 
    
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    gap: 8rem;
    h1 {
        color: #12372A;
    }
}

.hero-text {
    font-size: 25px;
    font-weight: 700;
    color: #4d4115;
    font-family: "urbanist";
    font-optical-sizing: auto;
    font-weight:bold;
}

.hero-btn {
    width: 160px;
    border-radius: 5px;


}

.storage-image3 {
    height: 490px;
}