.hero {
    background-color: #FAF8EC;  /* har valt denna bakgrunden pga att mina buttons annars hade blivit i olika färger och det såg inte snyggt ut */ 
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    gap: 8rem;
    h1,p {
        color: #12372A;
    }
}



.hero-btn {
    width: 160px;
    border-radius: 5px;


}