.notfound {
    background-color: #12372ad8;
    height: 800px;
    
}

.notfound-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    h5, p {
        color: white;
    }
    h1 {
        color: #F1C30C;
    }
}