.select-form {
    height: 58px;
    padding: 10px;
    border: 1px solid #12372A; 
    border-radius: 5px;
    outline: none;
    &:focus {
        outline: none;
        border: 2px solid black;
        display: block;
    }
    &:valid {
        outline: none;
        border: 1px solid #12372A;
        background-color: #ffffff;

        
    }
    &:user-invalid {
        outline: none;
        
        border: 1px solid #A1241B;
        background-color: #ffffff;
        display: block;
        &:focus {
            outline: none;
            border: 2px solid black;
            display: block;
        }
    }



}

option {
    color: #12372A;
}

