.subscribe {
    background-color: #FAF8EC;
    padding-block: 15px;
}

.subscribe-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.subscribe-right {
    display: flex;
    gap: 20px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 20px;
    position: relative;
}





.subscribe-btn {
    width: 102px;
    height: 61px;
    border-radius: 5px;
    border: none;
    background-color: var(--link-hover);
    color: #ffffff;
    transition: color .2s ease;
    font-weight: 600;
    
}

.pop-up {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
    align-items: center;
    text-align: center;
    gap: 30px;
    h2 {
        color: #12372A;
    }
    .submitted-btn {
        width: 100px;
    }
}

