.tiles-box {
    border: 3px solid var(--tile-border);
    border-radius: 12px;
    padding: 12px;
    &:hover {
        border: 3px solid var(--tile-border-hover);
        transition: color .5s ease;
    }
}