.title-component {
    background-color: #FAF8EC;  /* valde att lägga samma bakgrund som i home sidan för finare struktur */
    height: 467px;
}

.title-component-text {
    padding-top: 9rem;
    h1,p {
        color: #12372A;
    }
}

