@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --link: #12372A;
    --link-hover: #4d4115;
    --button-color: #F1C30C;
    --button-hover: #12372A;
    --about-border: #e7e7e7;
    --tile-border: #12372A;
    --tile-border-hover: #4d4115;
}



.p-white {
    color: #ffffff;
}

h1 {
    font-size: 80px;
    color: #F1FFEA;
    font-weight: bold;
}

h2 {
    font-size: 64px;
    font-family: "urbanist";
    font-weight: 800;
}

h3 {
    font-size: 52px;
    color: #12372A;
    font-family: "urbanist";
    font-weight: bold;
    
}

h4 {
    font-size: 25px;
    color: #4d4115;
    font-family: "urbanist";
    font-optical-sizing: auto;
    font-weight: bold;
}

h5 {
    font-size: 24px;
    color: #12372A;
    font-family: "urbanist";
    font-weight: 700;
}

h6 {
    font-size: 20px;
    color: #12372A;
    font-family: "urbanist";
    font-weight: bold;
}

p {
    color: #12372A;
   
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    
    
}


.container--wide {
    max-width: 1820px;
    width: 100%;
    margin-inline: auto;
    
}
.container--narrow {
    max-width: 1250px;
    width: 100%;
    margin-inline: auto;
}


.testimonials-background {
    background-color: #12372ad8;
    height: 669px;
}
